# Ignore all files ending in ~ (temp files)

release/sealion.sh

## Ignore folders ##

sealion-agent/tmp/
sealion-agent/etc/dbs/
sealion-agent/etc/config/
sealion-agent/etc/certificates/

!sealion-agent/node_modules/
